<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @result.patient %>
</p>

<p>
  <strong>Age:</strong>
  <%= @result.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @result.gender %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
